*.crf
*.o  
*.d  
*.a
*.htm
*.sct
*.dep
*.lst
*.map
*.uvguix.*
*.iex
*.tra
*.bak
*.ddk
*.edk
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.o
*.plg
*.rpt
*.tmp
*.__i
*.icf
*.axf
*._2i
*.fed
*.I2p
*.s
*.jpg
*.uvoptx
*.hex
*.l2p
*.scvd
